{% load static %}
 <footer class="footer  small text-center text-white mt-5">
    <section class="contact-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-white mb-2 h6 "></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-white">BENIN, Cotonou</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-white mb-2 h6"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-white"><a href="mailto:arihook03@gmail.com">arihook03@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-white h6 mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-white">+229 63-44-13-01</div>
                        </div>
                    </div>
                </div>
            </div>










            <div class="social d-flex justify-content-center">

                <!--<a class="mx-2 text-white h4" href="#!"><i class="fab fa-facebook-f"></i></a>-->
                <a class="mx-2 text-white h4" href="https://wa.me/message/VIY5N56I4ARBD1" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="mx-2 text-white h4" href="https://www.tiktok.com/@ari_hook?_t=8ZqnK5l6ITO&_r=1" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a class="mx-2  text-white h4" href="https://instagram.com/ari__hook?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>





            <div class="mask mb-5 mt-5 d-flex align-items-center  h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card bg-dark" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h3>
                                        Subscribe to <a href="{% url 'newsletter:subscribe-letter' %}#subscribe" class="text-decoration-none" >newsletter</a>
                                    </h3>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>











        </div>
    </section>
    <div class="mt-5 text-center ">
        <div class="container text-white px-4 px-lg-5">Copyright &copy; AriHook 2023 : Tous droits réservés</div>
    </div>
</footer>